<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCW8hyZHdJoMY2S2NvPNYGUuE2er-KqeTk</string>
	<key>GCM_SENDER_ID</key>
	<string>1075076177100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swfl.swfl</string>
	<key>PROJECT_ID</key>
	<string>apna-godam-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>apna-godam-finance.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075076177100:ios:e9fcdaf1ca47d4a924f669</string>
</dict>
</plist>